* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.homeContainer {
    height: 150vh;
    background-color: rgba(0, 117, 255, 0.66);
    font-family: Helvetica, sans-serif;
    position: relative;
}

.homeContainer header {
    text-align: center;
    font-size: 2.1em;
    color: rgba(255, 0, 0, 0.77);
}


.homeContainer .choice {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.homeContainer .quizChoices {
  display: flex;
  flex-direction: row;
  height: 350px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.quizChoices .quiz {
  height: inherit;
  display: block;
  text-align: center;
  width: 40%;
  margin: 0 30px;
  /* transition: transform 1s ease-in-out; */
}

/* .quiz .openDoor {
  transform: perspective(400px) rotateY(75deg);
} */

.quiz .title {
    font-size: 1.3em;
    font-family: "Times New Roman";
    text-align: center;
}

.quiz .description {
    font-size: 0.9em;
    font-family: "Arial";
}



.homeContainer footer {
    width: 100%;
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.questionContainer {
    height: 150vh;
    background-color: rgba(210, 180, 140, 0.47);
    font-family: "Times New Roman", serif;
    position: relative;
    padding-left: 5px;
}

.questionContainer .topLeft {
    font-family: Georgia, Serif;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1.5em;
    color: darkviolet;
}


.questionContainer .topRight {
    font-family: Arial;
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 0.9em;
    color: rgba(3, 0, 139, 0.94);
}

.questionContainer .picture {
    padding-top: 20px; 
    padding-bottom: 10px;
}

.questionContainer .textQuestion {
    padding-top: 10px;
}

.answerContainer {
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: left;
  width: 100%;
  margin: 0 auto;
}

.answerContainer form {
    display: block;
    width: 50%;
    font-family: "Arial";
    font-size: 0.9em;
}

.answerContainer .afterSubmit {
    display: block;
    width: 50%;
    margin-left: 5px;
}

.button, button {
    width: 80px;
    font-size: 0.8em;
}

.red {
    color: red;
}

.green {
    color: green;
}

.answerContainer .afterSubmit {
   width: 50%;
}

.pictureAnswerContainer {
  display: flex;
  flex-direction: row;
  height: 350px;
/*
  justify-content: center;
  align-items: center;
*/
  justify-content: flex-start;
/* align-items: flex-start; */
  width: 100%;
  /* margin: 0 auto; */
}

.pictureAnswerForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
/*
  justify-content: center;
  align-items: center;
*/
  justify-content: flex-start;
  /* align-items: flex-start; */
  /*width: 500px; */
  width: 90%;
  /* margin: 0 auto; */
}

.pictureAnswers {
  height: 80%;
  display: block;
  text-align: center;
  /* width: 30%; */
  width: 20%;
  margin: 0 30px;
}

.pictureAnswers .left {
    float: left; 
    position: relative;
    left: -20px;
    top: 20px;
}

.pictureAnswers img:hover {
    cursor: pointer;
}

.pictureAnswerContainer .afterSubmit {
    width: 30%;
    margin-right: 5px; 
}

.resultsContainer {
    height: 150vh;
    background-color: rgba(0, 117, 255, 0.66);
    font-family: Helvetica, sans-serif;
    position: relative;
    padding-left: 5px;
}

.resultsContainer .topLeft {
    font-family: Georgia, Serif;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 1.5em;
        color: darkviolet;
}

.resultsContainer p {
    font-size: 0.8em;
    color: white;
}

.resultsContainer span.num {
    color: rgb(210, 106, 30);
    font-weight: bold;
}

.resultsContainer a {
    text-decoration: none;
    color: darkgreen;
}

.resultsContainer .giphy {
    margin-top: 30px;
    width: 300px;
    height: 200px;
}

.resultsContainer .giphy.ng-enter {
    transition: transform 7s ease-in;
    background-image: url("https://media.giphy.com/media/iabcSfUB6VZYc/giphy.gif"); 
    background-size: cover; 
}

.resultsContainer .giphy.ng-enter.ng-enter-active {
    transform: perspective(400px) rotateX(90deg);
}