* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.homeContainer {
    height: 150vh;
    background-color: rgba(0, 117, 255, 0.66);
    font-family: Helvetica, sans-serif;
    position: relative;
}

.homeContainer header {
    text-align: center;
    font-size: 2.1em;
    color: rgba(255, 0, 0, 0.77);
}


.homeContainer .choice {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.homeContainer .quizChoices {
  display: flex;
  flex-direction: row;
  height: 350px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.quizChoices .quiz {
  height: inherit;
  display: block;
  text-align: center;
  width: 40%;
  margin: 0 30px;
  /* transition: transform 1s ease-in-out; */
}

/* .quiz .openDoor {
  transform: perspective(400px) rotateY(75deg);
} */

.quiz .title {
    font-size: 1.3em;
    font-family: "Times New Roman";
    text-align: center;
}

.quiz .description {
    font-size: 0.9em;
    font-family: "Arial";
}



.homeContainer footer {
    width: 100%;
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.questionContainer {
    height: 150vh;
    background-color: rgba(210, 180, 140, 0.47);
    font-family: "Times New Roman", serif;
    position: relative;
    padding-left: 5px;
}

.questionContainer .topRight {
    font-family: Arial;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.9em;
}

.questionContainer .picture {
    padding-top: 10px;
}

.questionContainer .textQuestion {
    padding-top: 10px;
}

.answerContainer {
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: left;
  width: 100%;
  margin: 0 auto;
}

.answerContainer form {
    display: block;
    width: 50%;
    font-family: "Arial";
    font-size: 0.9em;
}

.answerContainer .afterSubmit {
    display: block;
    width: 50%;
}

.button, button {
    width: 80px;
    font-size: 0.8em;
}

.red {
    color: red;
}

.green {
    color: green;
}

.answerContainer .afterSubmit {
   width: 50%;
}

.pictureAnswerContainer {
  display: flex;
  flex-direction: row;
  height: 350px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.pictureAnswerForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

.pictureAnswers {
  height: 80%;
  display: block;
  text-align: center;
  width: 30%;
  margin: 0 30px;
}

.pictureAnswers .left {
    float: left; 
    position: relative;
    left: -20px;
    top: 20px;
}

.pictureAnswers:hover {
    background-color: mediumpurple;
}