<div class="picture"><img ng-src = "{{pictureQuestion}}" width="225" alt="President Image"></div>
<div>{{question}}</div>
<br>
<div class="answerContainer">
    <form ng-submit="processUserInput(answer, 'fromSubmit')">
		<div class="bool_answer_container">
    		<div class="bool_answer left_bool" ng-class="{black_border_and_text: borderOnYes}" ng-click="processUserInput('True', 'fromSelect')">Yes
			</div>
    		<div class="bool_answer right_bool" ng-class="{black_border_and_text: borderOnNo}" ng-click="processUserInput('False', 'fromSelect')">No
			</div>
		</div>
	    <br>
        <input class="button" type="submit" value="Submit" ng-hide="autoSubmit">
    </form>
    <div class="afterSubmit">
        <div class="green" ng-show="userAnswered && userAnsweredCorrectly">
            You got it right!! Great job!!
        </div>
        <div class="red" ng-show="userAnswered && !userAnsweredCorrectly">
            Sorry, the correct answer is "{{correctAnswer}}"
        </div>
        <br>
        <button ng-show="userAnswered" ng-click="getNextQuestion()">Next</button>
    </div>
</div>