<div class="questionContainer">
    <div class="topLeft">{{title}} Quiz</div>
    <div class="topRight">Question {{currentQuestion}} of {{numQuestions}}</div>
    <br><br>
    <div class="picture"><img ng-src = "{{pictureQuestion}}" width="250"></div>
    <div>{{question}}</div>
    <br>
    <div class="answerContainer">
        <form ng-submit="processUserInput(answer, 'fromButton')">
            <input type="text" ng-model="answer" placeholder="First name Last name">
            <br><br>
            <input class="button" type="submit">
        </form>
        <div class="afterSubmit">
            <div class="green" ng-show="userAnswered && userAnsweredCorrectly">
                You got it right!! Great job!!
            </div>
            <div class="red" ng-show="userAnswered && !userAnsweredCorrectly">
                Sorry, 
                <div ng-repeat = "answer in correctAnswerArray">
                    A correct answer is "{{answer}}"
                </div>
            </div>
            <br>
            <button ng-show="userAnswered" ng-click="getNextQuestion()">Next</button>
        </div>
    </div>
</div>
