<div class="questionContainer">
    <div class="topRight">Question {{currentQuestion}} of {{numQuestions}}</div>
    <br><br><br>
    <div>{{question}}</div>
    <br>
    <div class="pictureAnswerContainer">
        <div class= "pictureAnswerForm">
            <div class="pictureAnswers" ng-repeat = "option in options">
                <div class="left"> {{option.id}}) </div>
                <!--<input type="radio" ng-click="processUserInput(answer, 'fromRadio')" ng-model="answer" value="{{option.id}}" name="selection"><img ng-src="{{option.pictureAnswer}}" alt="President Image" width=150><br>-->
                <!--<img ng-src="{{option.pictureAnswer}}" ng-click="processUserInput(option.id)" alt="President Image" width="150">-->
                <img ng-src="{{option.pictureAnswer}}" ng-click="processUserInput(option.id)" alt="President Image" width="130">
             </div>
            <br>
        </div>
        <div class="afterSubmit">
            <div class="green" ng-show="userAnswered && userAnsweredCorrectly">
                You got it right!! Great job!!
            </div>
            <div class="red" ng-show="userAnswered && !userAnsweredCorrectly">
                Sorry, the correct answer is "{{correctAnswer}}"
            </div>
            <br>
            <button ng-show="userAnswered" ng-click="getNextQuestion()">Next</button>
        </div>
    </div>
</div>

