<div class="resultsContainer">
    <div class="resultsBody">
        <div class="topLeft">{{title}} Quiz</div>
        <br><br>
        <p>Your score is: <span class="num">{{numCorrect}}</span> correct out of <span class="num">{{numQuestions}}</span> questions, or <span class="num">{{percentCorrect}}%</span>.
        <br>
        <p>You completed the test in: <span class="num">{{secondsElapsed}}</span> seconds.</p>
        <br>
        Return <a ui-sref="Home">Home</a>
		
		<p>
		  <input type="button" value="set" ng-click="myCssVar='yes'">
		  <input type="button" value="clear" ng-click="myCssVar='no'">
		  <br>
		  <div class="giphy-great-job" ng-show="myCssVar==='yes'"></div>
		</p>
        <!--<div ng-class="{'giphy-great-job': percentCorrect >= 50, 'giphy-ok-job': percentCorrect < 50}">
        </div>-->
		
		
    </div>
</div>
